body {
	margin: 0;
	background-color:powderblue;
	font-family:courier;
	text-align:center;
	border: 5px solid #999;
}

table, th, td {
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
}
