a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
body {
  color:white;
  margin: 0;
  background-color:#2c2c2c;
  font-family:courier;
  text-align:center;
  border: 5px solid #999;
  font-size: 115%;
}

table, td, th {
  color: black;
  border: 1px solid #999;
  text-align: left;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}
tr:nth-child(even) {
  color: black;
  background-color: #dddddd;
}
tr:nth-child(odd) {
  color: black;
  background-color: #f2f2f2;
}
tr:nth-child(1) {
  color: black;
  background-color: #999;
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}
