a:link {
  color: #A9A9A9;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #A9A9A9;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #d;
  background-color: transparent;
  text-decoration: underline;
}
body {
  color:#A9A9A9;
  margin: 0;
  background-color:#2c2c2c;
  font-family:courier;
  text-align:center;
  border: 10px solid #A9A9A9;
  font-size: 125%;
}

table, td, th {
  color: #A9A9A9;
  border: 1px solid #181818;
  text-align: left;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
tr:nth-child(even) {
  color: #A9A9A9;
  background-color: #282828;
}
tr:nth-child(odd) {
  color: #A9A9A9;
  background-color: #202020;
}
tr:nth-child(1) {
  color: #A9A9A9;
  background-color: #181818;
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: :#A9A9A9;;
}
